@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
    color: white;
    height: 100vh;
}

.menu {
    background-color: hsla(0, 2%, 13%, 0.172);
    backdrop-filter: blur(1rem);
}

.hoverOver::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.136);
    z-index: -1;
    transition: transform 0.3s ease-in-out;
}

.hoverOver:hover::after {
    transform: scale(1.5);
}

.afterElement::after {
    content: '';
    display: block;
    position: absolute;
    background-color: white;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    transition: width 0.2s ease-in;
}

.afterElement.selected::after {
    width: 100%
}

.afterElement.selected:hover::after {
    background-color: white;
}

.afterElement:hover::after {
    width: 100%;
    background-color: rgb(150, 152, 156);
}


@media only screen and (min-width: 768px) {
    .navSelected::after {
        content: '';
        position: absolute;
        display: block;
        background-color: white;
        height: 4px;
        width: 100%;
        bottom: calc(-100% - 6px);
    }
    
    .navNotSelected::after {
        content: '';
        position:absolute;
        display: block;
        background-color: rgba(255, 255, 255, 0.625);
        height: 4px;
        width: 0%;
        bottom: calc(-100% - 6px);
        left: 50%;
        transform: translateX(-50%);
        transition: width 250ms ease-in-out;
    }
    
    .navNotSelected:hover::after {
        width: 100%;
    }    
}

