@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
    color: white;
    height: 100vh;
}

.menu {
    background-color: hsla(0, 2%, 13%, 0.172);
    backdrop-filter: blur(1rem);
}
